# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk



# project-specific ignore
simuRechercheDVA\/sensorOutput\.csv
simuRechercheDVA\/sensorOutput\.wsv
simuRechercheDVA\/Assets\/sensorOutput\.wsv
simuRechercheDVA\/Assets\/sensorOutput\.wsv\.meta
simuRechercheDVA\/Assets\/InitTestScene[0-9]{18}\.unity
simuRechercheDVA\/Assets\/InitTestScene[0-9]{18}\.unity\.meta
#simuRechercheDVA/Assets/InitTestScene*
#simuRechercheDVA/Assets/InitTestScene*.meta

simuRechercheDVA/Assets/sensorOutput.wsv.meta
simuRechercheDVA/ProjectSettings/QualitySettings.asset
simuRechercheDVA/ProjectSettings/UnityConnectSettings.asset
simuRechercheDVA/ProjectSettings/ProjectSettings.asset
simuRechercheDVA/Assets/sensorOutput.wsv.meta
simuRechercheDVA/Assets/null
simuRechercheDVA/Assets/null.meta

# Temporary files pour PID tunning
simuRechercheDVA/pid_tunning_v2.txt
simuRechercheDVA/pid_tunning.txt
